
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 17px;
    margin: auto;
    text-align: center;
}

img {
    width: 50%;
    
}

h1 {
    color: rgb(7, 7, 141);
}
#p1 {
    background-color: rgb(235, 235, 235);
    color: black;
    list-style: none;
    border-style: inset;
    
}
h2 {
    color: rgb(7, 7, 141);
}

#p2 {
    background-color: rgb(255, 212, 212);
    border-style: inset;
}

.bordure {
    border: solid 3px rgb(0, 0, 0);
}